{{#section 'css'}}
<style nonce="{{nonce}}">
    .container-rounded {
        border-radius: 10px;
    }

    .header-border {
        border-bottom: 1px solid #EEEEEE;
    }

    .title-text {
        font-weight: bold;
        text-align: center;
    }

    .premium-icon {
        width: 40px;
        height: 40px;
    }

    .content-container {
        width: 800px;
        margin: auto;
    }

    .label-text {
        color: #B5B5C3;
    }

    .illustration-image {
        width: 300px;
        height: 300px;
    }

    .highlight-text {
        color: #ED1C24;
    }

    .link-underline {
        text-decoration: underline;
    }
</style>
{{/section}}

<div class="bg-white container-rounded">
    <div class="p-4 d-flex header-border">
        {{#if this.premium}}
        <div class="col-4 text-center">
            <h4 class="mb-0 title-text">
                Chúc mừng bạn đã trở thành thành viên Premium
            </h4>
            <img src="/others/premium (2).png" class="ml-3 premium-icon" />
        </div>
        <div class="col-4 text-center">
            <h4 class="mb-0 title-text">
                Hãy tận hưởng những bài báo chất lượng
            </h4>
            <img src="/others/premium-quality.png" class="premium-icon" />
        </div>
        <div class="col-4 text-center">
            <h4 class="mb-0 title-text">
                Cảm ơn bạn đã tin tưởng chúng tôi
            </h4>
            <img src="/others/star.png" class="ml-3 premium-icon" />
        </div>
        {{/if}}
    </div>

    <div class="content-container mt-3 pb-5">
        {{#if this.premium}}
        <div class="row">
            <span class="col-2 px-0 label-text">Ngày đăng ký: </span>
            <span class="col-10">
                {{this.premium.start_date}}
            </span>
        </div>
        <div class="row mt-3">
            <span class="col-2 px-0 label-text">Ngày hết hạn: </span>
            <span class="col-10">
                {{this.premium.end_date}}
            </span>
        </div>
        {{else}}
        <div class="text-center">
            <img src="/others/substraction.png" class="illustration-image" />
            <div class="highlight-text font-weight-bold mr-3">
                Đăng ký thành viên premium để tiếp cận với những bài báo chất lượng
            </div>
            <div class="mt-3">
                <a href="/premium/register" class="btn btn-danger">
                    <b>Đăng ký ngay</b>
                </a>
            </div>
        </div>
        <div class="text-center mt-5">
            <img src="/others/clock.png" class="illustration-image" />
            <div class="highlight-text font-weight-bold mr-3 mt-3">
                Đừng lo lắng, bạn vẫn có thể đọc các bài báo <a href="/" class="link-underline">mới</a> và <a
                    href="/cat?catId=1">phổ biến</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>